<div class="container">
    <h2>Register Here</h2>
    <form action="/action_page.php" class="was-validated">
      <div class="form-group">
        <label for="uname">First Name:</label>
        <input type="text" class="form-control" id="fname" placeholder="Enter first name" pattern="[A-Za-z\s]" name="uname" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group">
        <label for="uname">Middle Name:</label>
        <input type="text" class="form-control" id="mname" placeholder="Enter middle name" pattern="[A-Za-z\s]" name="mname">
      </div>
      
      <div class="form-group">
        <label for="uname">Last Name:</label>
        <input type="text" class="form-control" id="lname" placeholder="Enter last name" pattern="[A-Za-z\s]" name="lname" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
      <div class="form-group">
        <label for="uname">DOB:</label>
        <input type="date" class="form-control" id="dob" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
      <div class="form-group">
        <label for="contact">Contact Number:</label>
        <input type="tel" class="form-control" id="contact" 
        maxlength="10" pattern="[0-9]{10}" placeholder="Enter contact number (without country code)" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
      <div class="form-group">
        <label for="uname">Address:</label>
        <input type="text" class="form-control" id="lname" placeholder="Enter address" name="address" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
      <div class="form-group">
        <label for="email">Email ID:</label>
        <input type="email" class="form-control" id="pwd" placeholder="Enter emmail id" name="email" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group">
        <label for="pwd">Set Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" required> I agree with Policies.
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Check this checkbox to continue.</div>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="goToLogin()">Submit</button>
    </form>
</div>
  