<div class="container-fluid">
    <div class="col-md-12">
      <strong><h2>The Book Geek Welcomes You</h2></strong>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  
  <div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"><strong>READ MORE</strong></p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"><strong>LEARN MORE</strong></p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"><strong>EXPLORE MORE</strong></p>
      </div>
    </div>  
  </div>